# APP
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# AUTHENTICATION (@ NEXT-AUTH)
# Secret can be generated with `openssl rand -base64 32`
# Follow instructions at https://codevoweb.com/nextjs-add-google-and-github-oauth2-using-nextauth-js/ to obtain client ids and secrets
AUTH_SECRET="your_auth_secret_here"
JWT_SECRET_KEY="your_jwt_secret_key_here"

GOOGLE_ID="your_google_id_here"
GOOGLE_SECRET="your_google_secret_here"
GITHUB_ID="your_github_id_here"
GITHUB_SECRET="your_github_secret_here"

# DATABASE (POSTGRES @ NEON)
# Ensure you append `sslmode=required` after the question mark in your connection string
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=required"

# EMAIL (@ RESEND)
RESEND_API_KEY="your_resend_api_key_here"
RESEND_EMAIL_FROM="your_email@example.com"
RESEND_EMAIL_TO="recipient@example.com"
RESEND_HOST="smtp.resend.com"
RESEND_USERNAME="resend"
RESEND_PORT="465"